body {
  background-color: #2E2E2E;
  text-align: center;
 }
#mntitle
{
  font-family: 'Brush Script MT', cursive;
  color: white;
  font-size: 6em;
}
.textdiv
{
  color: white;
  font-size: 25px ;
    font-family:  "Courier New", Courier, monospace;
}

h6
{
  color: white;
}
label
{
  color: white;
  font-size:  26px;
}

#pomodorocircle {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  border: 2.5px solid #52CC29;
  border-radius: 150px;
  cursor: pointer;
   z-index: 10;
  overflow: hidden;
}
h2
{
  color: white;
  margin-top: 50px;

}
#sestitle
{
  color: white;
  margin-top:  55px;
  font-size: 3.7em;
   font-family:  "Courier New", Courier, monospace;
}
#minsecs
{
  margin-top: 40px;
  font-size:  48px !important;
}
.sessbtn
{
  cursor: pointer;

}
span
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#pomodorocircle span
{
  color:  white;
   font-family:  "Courier New", Courier, monospace;
  font-size:  48px !important;
  display: none;
}
#bgfill
{
 margin: auto;
  position: absolute;
   display: inline-block;
 
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -2;
}